/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

/* Add background color and padding to the container */
.container {
  background-color: #fff;
  padding: 20px;
}

/* Update heading styles */
h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 30px;
}

h3 {
  color: #666;
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Update form styles */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="date"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
  font-size: 16px;
}

select {
  height: 42px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
}

/* Add some color to links */
a {
  color: #007bff;
  text-decoration: none;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

a:hover {
  text-decoration: underline;
}

/* Add background color and padding to table cells */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 30px;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Add some spacing to buttons */
button,
input[type="submit"],
input[type="reset"] {
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Add style to error and success messages */
.error {
  color: #dc3545;
  font-weight: bold;
  margin-bottom: 20px;
}

.success {
  color: #28a745;
  font-weight: bold;
  margin-bottom: 20px;
}

ul{
  margin: 30px;
}

img{
  width: 50%; /* Reduce the width to 50% of the original size */
  height: auto; /* Maintain the aspect ratio */
  margin-bottom: 30px;
}
